body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
}

h2 {
    font-size: 18px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

label {
    font-size: 14px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}
