body {
    font-family: Arial, sans-serif;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f9;
    padding: 10px;
    border: #333 1px;
    width: 300px;
    background: rgb(174,171,176);
    background: linear-gradient(90deg, rgba(174,171,176,1) 0%, rgba(255,146,146,1) 0%, rgba(255,255,255,1) 100%);
}


h2 {
    font-size: 18px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
    display: block;
}

label {
    font-size: 14px;
}



input, textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 5px;
}
input:hover, textarea:hover {
    cursor: text;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}
